@font-face {
    font-family: Touche;
    src: url('./Touche\ W03\ Regular.ttf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('./SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: SourceSansPro-SemiBold;
    src: url('./SourceSansPro-SemiBold.ttf');
}

:root {
    --max-width: 1000px;
    --horizontal-padding: 150px;
    --terminal-color: rgb(40, 40, 43);
    --border-radius: 8px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-bg: 30px;
    --spacing-xl: 45px;
    --background-color:rgb(26, 27, 31);
    --focus-color: #ff80bb;
    --sidebar-border: 2px #3b3b3b solid;
}

/* CSS RESET */

html {
    scroll-behavior: smooth;
    font-size: 17px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    line-height: 1.6;
    font-family: "SourceSansPro-Regular";
    background: var(--background-color) !important;
    overflow-x: hidden;
    min-height: 100vh;
}

h1, h2 {
    margin-top: 0px;
}

a {
    color: #0A72EF;
    text-decoration: none;
}

.button {
    border: 0px;
    background-color: #288628;
    color: white;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    text-decoration: none;
}
.button:hover {
    cursor: pointer;
}

pre:not(.code-block) {
    display: inline-flex;
    padding: 4px var(--spacing-sm);
    background-color: var(--terminal-color);
    border-radius: var(--border-radius);
    margin: 0px 4px;
    line-height: 1;
}

p > code,
.releases > div code {
    color: var(--focus-color);
}

input {
    margin: 0px;
    background: transparent;
    border-radius: var(--border-radius);
    border: 1px #525252 solid;
    color: white;
    padding: 9px 6px;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table, td, tr, th {
    padding: 6px 12px;
    border: 1px #5e5e5e solid;
}

/* GENERAL */

.header {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 3;
    overflow: hidden;
}

.header > a {
    padding: 5px 16px;
    text-decoration: none;
    color: white;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.header > a:hover {
    background-color: #09366b;
}

.header > a[active="1"] {
    background-color: #082e59;
}

#content {
    background: var(--background-color) !important;
    color: white;
    width: 100%;
    padding: 100px 0px;
    z-index: 2;
}

#content > div, footer {
    margin: 0 auto;
    max-width: var(--max-width);
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
}

#content > div > h1,
#content > div > h3 {
    text-align: center;
}

#content > *:not(:last-child) {
    margin-bottom: 70px;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.not-found > img {
    width: 200px;
    margin-bottom: var(--spacing-md);
}

/* HOME */

#parallax {
    display: flex;
    justify-content: center;
    height: 900px;
    position: relative;
    color: white;
    overflow: hidden;
}

#parallax > * {
    position: absolute;
    z-index: -1;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    transition: all linear 0.07s;
}

.title {
    top: 150px;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.title > h1 {
    font-family: 'Touche';
    font-size: 96px;
    line-height: 1.4em;
}

.title > * {
    font-weight: normal;
    margin: 0px 20px;
}

.feature {
    display: flex;
}

.feature:nth-of-type(even) {
    flex-direction: row-reverse;
}

.feature:nth-of-type(even) > div:last-child > div {
    margin-right: 50px;
}

.feature:nth-of-type(odd) > div:last-child > div {
    margin-left: 50px;
}

.feature > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code-block {
    display: inline-flex;
    background-color: var(--terminal-color);
    color: white;
    padding: 16px;
    border-radius: var(--border-radius);
    overflow: auto;
    font-family: Consolas, monaco, monospace;
    box-shadow: 0px 6px 10px rgba(2,8,20,.1),
                0 0 16px rgba(2,8,20,.08);
    position: relative;
}

.code-block > pre,
.code-block > .lines {
    font-size: 14px;
    line-height: 1.4;
}

.code-block > pre {
    padding: 0px;
    color: white;
}

.code-block > * {
    display: flex;
}

.code-block > h4 {
    margin-top: 0px;
}

.code-block > .lines {
    color: #858585;
    text-align: right;
    margin-right: var(--spacing-sm);
}

.code-block > .io {
    background: transparent;
    font-family: Consolas, monaco, monospace;
    border: 0px;
    color: white;
    margin: 0px;
    width: 400px;
    height: 230px;
}

.code-block > .info {
    width: 20px;
    position: absolute;
    right: var(--spacing-sm);
    top: var(--spacing-sm);
}
.code-block > .info:hover {
    cursor: pointer;
}

.code-block > textarea {
    resize: none;
}

.test {
    display: none !important; /* TMP CHANGE */
}

.test, .download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test > h4,
.download > h4 {
    margin-top: 0px;
    text-align: center;
}

.test > div {
    display: flex;
}

.test > div > .code-block {
    margin: 0px var(--spacing-sm);
    flex-direction: column;
    font-size: 14px;
}

.test-info {
    opacity: 0.6;
    text-align: center;
    margin-top: var(--spacing-sm);
}

#test-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    right: var(--spacing-sm);
    top: var(--spacing-sm);
}
#test-btn:hover {
    cursor: pointer;
}

/* DOWNLOAD */

.releases > div > h2 {
    margin-top: 0px;
}

.releases > div:not(:last-of-type) {
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: 1px #c1c1c1 solid;
}

.releases > div > span {
    display: flex;
    align-items: center;
}

.releases > div > span > img {
    width: 28px;
    margin-right: var(--spacing-sm);
}

/* DOWNLOAD */

.systems {
    display: flex;
    justify-content: center;
}

.systems > a {
    text-align: center;
    text-decoration: none;
    color: white;
}
.systems > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.systems > a > img {
    width: 150px;
    height: 150px;
    margin: 0px var(--spacing-bg) var(--spacing-md) var(--spacing-bg);
}

.install > div:not(:last-of-type) {
    margin-bottom: var(--spacing-bg);
}

/* DOCUMENTATION */

.documentation-content > div {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-md);
}

.search > input {
    width: 100%;
    margin-right: 14px;
}

.search > img {
    width: 27px;
    height: 27px;
}
.search > img:hover {
    cursor: pointer;
}

.search-result {
    display: block;
    background-color: var(--terminal-color);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.search-result:not(:last-of-type) {
    margin-bottom: var(--spacing-sm);
}

.sidebar {
    min-width: 180px;
    margin-right: var(--spacing-xl);
    padding-right: var(--spacing-xl);
    border-right: var(--sidebar-border);
}

.sidebar,
.sidebar > div {
    display: flex;
    flex-direction: column;
}

.sidebar a {
    position: relative;
    transition: ease-out 0.2s;
    margin: 4px 0px;
    left: 0px;
    color: rgb(166, 166, 166);
    text-decoration: none;
}
.sidebar a:hover {
    left: 6px;
    color: white;
}

.sidebar > div > a {
    margin-left: var(--spacing-md);
}

.sidebar a[selected] {
    color: var(--focus-color);
}

.doc-title {
    margin: 4px 0px;
    font-weight: bold;
    font-size: 1.2em;
}

.documentation {
    width: 100%;
    overflow: hidden;
}

.documentation h2 {
    margin-top: 26px;
    margin-bottom: 16px;
}

.documentation h3 {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-sm);
}

.documentation pre {
    display: block;
    margin: var(--spacing-sm) 0px;
    padding: var(--spacing-sm);
    overflow: auto;
}

.documentation code.language-borealis {
    line-height: 1.6;
    font-family: Consolas, monaco, monospace;
    font-size: 13px;
}

.q-result {
    background-color: rgba(255, 255, 9, 1);
    color: black;
}

/* THANKS */

.thanks-project:not(:last-of-type) {
    margin-bottom: var(--spacing-md);
}

.thanks-project > a > h2 {
    margin-bottom: var(--spacing-sm);
}

.thanks-project > p {
    margin-top: 0px;
    margin-bottom: var(--spacing-sm);
    opacity: 0.6;
}

/* RESPONSIVE */

@media only screen and (max-width: 1080px) {
    :root {
        --horizontal-padding: 50px;
    }

    .test > div {
        flex-direction: column;
        width: 100%;
    }

    .test > div > .code-block {
        margin: 0px !important;
    }

    .test > div > .code-block:first-of-type {
        margin: 0px 0px var(--spacing-md) 0px !important;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --horizontal-padding: var(--spacing-bg);
    }

    html {
        font-size: 15px;
    }

    #content {
        padding: 60px 0px;
        overflow-x: hidden;
    }

    #content > *:not(:last-child) {
        margin-bottom: var(--spacing-bg);
    }

    .header > div > a {
        padding: 8px 14px;
    }

    .feature {
        flex-direction: column !important;
    }

    .feature > div {
        width: 100%;
    }

    .feature > div:last-child > div {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: var(--spacing-md) !important;
    }

    .documentation-content > div {
        flex-direction: column;
    }

    .sidebar {
        margin-right: initial;
        padding-right: initial;
        border-right: initial;
        margin-bottom: var(--spacing-md);
        padding-bottom: 0px;
        border-bottom: var(--sidebar-border);
        max-height: 300px;
        overflow-x: hidden;
        overflow: auto;
    }

    .systems {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --horizontal-padding: var(--spacing-sm);
    }

    #parallax {
        height: 600px;
    }

    .title {
        top: 70px;
    }

    .title > h1 {
        font-size: 64px;
    }

    .title > h2 {
        font-size: 22px;
    }

    .test > div > .code-block {
        max-height: 180px;
    }

    .systems > a > img {
        width: 100px;
        height: 100px;
        margin: 0px var(--spacing-md) var(--spacing-md) var(--spacing-md);
    }
}
