<span class="token keyword">any</span> <span class="token variable">lib</span> = <span class="token class-name">import</span> <span class="token string">'lib.bor'</span>;

<span class="token function">debug</span>(); <span class="token comment"># Start REPL debugger here</span>

<span class="token table">Io</span>.<span class="token function">printLine</span>(<span class="token string">'Goodbye!'</span>);
<span class="token function">exit</span>(<span class="token number">0</span>);
