<span class="token comment"># Compare as numbers</span>
<span class="token variable">foo</span> == <span class="token variable">bar</span>;
<span class="token comment"># Compare as strings</span>
<span class="token variable">foo</span> eq <span class="token variable">bar</span>;
<span class="token comment"># Addition</span>
<span class="token variable">foo</span> + <span class="token variable">bar</span>;
<span class="token comment"># Concatenation</span>
<span class="token variable">foo</span> ^ <span class="token variable">bar</span>;
<span class="token comment"># Function call and assignation</span>
<span class="token variable">foo</span> << <span class="token variable">bar</span>;
