<span class="token comment"># List files recursively in a directory</span>
<span class="token keyword">any</span> <span class="token function">listFiles</span>(<span class="token keyword">string</span> <span class="token variable">dir</span> = <span class="token string">'./'</span>) {
    <span class="token class-name">foreach</span> (<span class="token table">Os</span>.<span class="token function">getFiles</span>(<span class="token variable">dir</span>), <span class="token variable">file</span>) {
        <span class="token keyword">any</span> <span class="token variable">path</span> = <span class="token variable">dir</span> ^ <span class="token string">'/'</span> ^ <span class="token variable">file</span>;
        <span class="token function">printLine</span>(<span class="token table">Os</span>.<span class="token function">clearPath</span>(<span class="token variable">path</span>));

        <span class="token class-name">if</span> (<span class="token table">Os</span>.<span class="token function">isDir</span>(<span class="token variable">path</span>)) {
            <span class="token function">listFiles</span>(<span class="token variable">path</span>);
        }
    }
}

<span class="token keyword">any</span> <span class="token variable">dir</span> = <span class="token table">Io</span>.<span class="token function">readLine</span>(<span class="token string">'Directory: '</span>);

<span class="token class-name">if</span> (!<span class="token table">Os</span>.<span class="token function">isDir</span>(<span class="token variable">dir</span>)) {
    <span class="token function">printLine</span>(<span class="token string">'Directory is not valid!'</span>);
} <span class="token class-name">else</span> {
    <span class="token function">listFiles</span>(<span class="token variable">dir</span>);
}
